.form {
    width: 100%;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-right: -5px;
        margin-bottom: 20px;
        margin-left: -5px;
    }

    &__field {
        width: 50%;
        margin-bottom: 20px;
        padding-right: 5px;
        padding-left: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__center {
        text-align: center;
    }
}
